body {
	background-color: #009373;
}

#play {
	display: none;
}

div{
	text-align: center; 
}

.christmas {
  margin-top: -3rem;
}

p {
	font-size: 14rem;
	font-family: 'Exo 2', sans-serif;
	display: inline;
}

p:hover {
	cursor: pointer;
	cursor: hand;
}

.xmas {
	width :100%;
	font-size: 11rem;
}

#m1, #m2, #i{
	color: #B4E1FF;
}

#e, #t, #x {
	color: #AB87FF;
}

#r1, #r2, #r3{
	color: #F5FFC6;
}

#y, #a , #c{
	color: #FFACE4;
}

#h, #s1, #s2  {
	color : #C1FF9B;
}

.mobileChristmas {
	display:none;
}

.playing {
	text-shadow: #FDFFFC 0 0 60px, #41EAD4 5px 5px 20px;
	filter: glow(color=#EEEE00,strength=3);

}

p.nomayo {
	font-size: 1.5rem;
}

a.nomayoLink{
	text-decoration: none;
	color: black;
	font-family: 'Exo 2', sans-serif;
}

.NoMayoLogo {
	height: 4rem;
	margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {

	.christmas {
		font-size: 9rem;
	}

}

@media screen and (max-width: 700px) {

	.mobileChristmas{
		display: block;
	}

	.christmas {
		display:none;
	}

	p {
		font-size: 7rem;
	}

	.mobile {
		font-size: 7rem;
	}
}