body {
	background-color: #009373;
}

.merry {
	margin-top: -1.5rem !important;
}

#play {
	display: none;
}

div{
	text-align: center; 
}

.christmas {
  margin-top: -4rem !important;
}

p {
	font-size: 14rem;
	font-family: 'Exo 2', sans-serif;
	display: inline;
}

p:hover {
	cursor: pointer;
	cursor: hand;
}

.xmas {
	width :100%;
	font-size: 11rem;
}

#m1, #m2, #i{
	color: #B4E1FF;
}

#e, #t, #x {
	color: #AB87FF;
}

#r1, #r2, #r3{
	color: #F5FFC6;
}

#y, #a , #c{
	color: #FFACE4;
}

#h, #s1, #s2  {
	color : #C1FF9B;
}

.mobileChristmas {
	display:none;
}

.playing {
	text-shadow: #FDFFFC 0 0 60px, #41EAD4 5px 5px 20px;
	filter: glow(color=#EEEE00,strength=3);

}

.thankyou {
	position:fixed;
	bottom:0px;
	height:7.5rem;
	width:100% !important;
}

p.nomayo {
	font-size: 1.5rem;
	color:#FFB17A;
}

#green{
	color: #75DBCD;
  letter-spacing: 0.3rem;

}

a.companyLinks{
	text-decoration: none;
	color: black;
	font-family: 'Roboto', sans-serif;
}

.Logo {
	height: 4rem;
	margin-bottom: 2rem;
}

p#and {
	font-size: 1rem;
	color: #FA8334;
}

#juicey {
	letter-spacing: .4rem;
}


#nomayologo {
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#pineapple {
	transition: all 500ms ease; 
}

@media screen and (max-width: 950px) {

	.christmas {
		font-size: 9rem;
	}

}

@media screen and (max-width: 700px) {

	.mobileChristmas{
		display: block;
	}

	.christmas {
		display:none;
	}

	p {
		font-size: 7rem;
	}

	.mobile {
		font-size: 7rem;
	}
}