<section class="friday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>
	<section class="row">
		<div class="christmas row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Björk - :possibly maybe (Lucy Mix)');" class="friday-words words xmas mobile" id="c" name="171925793" title="Björk - :possibly maybe (Lucy Mix)" value="h">F</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Young Thug - Best Friend');" class="friday-words words xmas mobile" id="h" name="232504408" title="Young Thug - Best Friend" value="r3">R</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Enya - Caribbean Blue');" class="friday-words words xmas mobile" id="r3" name="192922181" title="Enya - Caribbean Blue"value="i">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Arca - Front Load');" class="friday-words words xmas mobile" id="i" name="234002207" title="Arca - Front Load" value="s1">D</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'SOAP&&SKIN - Mawal Jamar');" class="friday-words words xmas mobile" id="s1" name="200982498" title="SOAP&&SKIN - Mawal Jamar" value="t">A</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Wench - HBA Galvanize');" class="friday-words words xmas mobile" id="t" name="223564334" title="Wench - HBA Galvanize" value="m1">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Fatima Al Qadiri - Szechuan');" class="friday-words words" id="m1" name="138838764" title="Fatima Al Qadiri - Szechuan" value="e">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Aphex Twin - minipops 67 (source Field Mix)');" class="friday-words words" id="e" name="166180397" title="Aphex Twin - minipops 67 (source Field Mix)" value="r1">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Portishead - All Mine;" class="friday-words words" id="r1" name="385534" title="Portishead - All Mine" value="r2">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Björk - Lionsong');" class="friday-words words" id="r2" name="195533950" title="Björk - Lionsong" value="y">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Shirley Bassey 1970s Live - The Greatest Performance Of My Life');" class="friday-words words" id="y" name="138358314" title="Shirley Bassey 1970s Live - The Greatest Performance Of My Life" value="c">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
  <p id="and"> &  </p>
      
  <a class="companyLinks" href="http://allemahony.tumblr.com/" target="_blank" id="juicey">Ella Mahony
    <img src="../images/ella.png" class="Logo bounce" id="pineapple" />
  </a>

</div>