<section class="friday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>
	<section class="row">
		<div class="christmas row">
			<p class="friday-words words xmas mobile" id="c" name="250730410" title="RKCB X Demo Taped - Open Arms" value="h">F</p>
			<p class="friday-words words xmas mobile" id="h" name="252509029" title="Pretty Sister - Come To LA" value="r3">R</p>
			<p class="friday-words words xmas mobile" id="r3" name="250451423" title="Blake Skowron - One Word Conversations"value="i">I</p>
			<p class="friday-words words xmas mobile" id="i" name="252008178" title="Laurence Guy - Hutch" value="s1">D</p>
			<p class="friday-words words xmas mobile" id="s1" name="249801345" title="Jean Tonique - Guest Ft. Iris" value="t">A</p>
			<p class="friday-words words xmas mobile" id="t" name="224019045" title="Callum - Connor - .wake up" value="m1">Y</p>
		</div>

		<div class="merry row">
			<p class="friday-words words" id="m1" name="251354400" title="Duñe x Crayon - Blue Window" value="e">V</p>
			<p class="friday-words words" id="e" name="249651208" title="Joe Hertz - Stay Lost Ft Amber-Simone" value="r1">I</p>
			<p class="friday-words words" id="r1" name="249560580" title="JMSN - Cruel Intentions" value="r2">B</p>
			<p class="friday-words words" id="r2" name="254347826" title="Explore - As Butter" value="y">E</p>
			<p class="friday-words words" id="y" name="251832843" title="Cabu & Akacia - Gold" value="c">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
  <a class="companyLinks" href="https://soundcloud.com/joehertz" target="_blank" id="juicey"> Joe Hertz
    <img src="../images/joe.png" class="Logo bounce" id="pineapple" />
  </a>
</div>