<section class="friday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>
	<section class="row">
		<div class="christmas row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="f-fri" name="235758881">F</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="r-fri" name="187929420">R</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="i-fri" name="24895618">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="d-fri" name="235593121">D</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="a-fri" name="235427283">A</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="y-fri" name="208738257">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="v-fri" name="233605980">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="ii-fri" name="225425321">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="b-fri" name="226404391">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="e-fri" name="229055409">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="s-fri" name="230917974">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
  <p id="and"> &  </p>
      
  <a class="companyLinks" href="" target="_blank" id="juicey">Ella Mahony
    <img src="../images/ella.png" class="Logo bounce" id="pineapple" />
  </a>

</div>