<section class="friday fullbackground">
  <div class="marqueeRow row">
    <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
    <img src="../images/info.png" class="infoButton blacki">
  </div>
  <section class="row">
    <div class="christmas row">
      <p class="friday-words words xmas mobile" id="c" name="257804169" title="Palmistry - Club Aso" value="h">F</p>
      <p class="friday-words words xmas mobile" id="h" name="232883422" title="Hubie Davison - Sanctified" value="r3">R</p>
      <p class="friday-words words xmas mobile" id="r3" name="16459366" title="Onra - Long Distance (ft. Olivier Daysoul)"value="i">I</p>
      <p class="friday-words words xmas mobile" id="i" name="223362334" title="Bastien Keb - Love Just Died Tonight" value="s1">D</p>
      <p class="friday-words words xmas mobile" id="s1" name="135229051" title="Trio Ternura - A Gira " value="t">A</p>
      <p class="friday-words words xmas mobile" id="t" name="170007561" title="CAIN - Nagan" value="m1">Y</p>
    </div>

    <div class="merry row">
      <p class="friday-words words" id="m1" name="255825834" title="I-Octane - Buss A Blank (Mina Remix)" value="e">V</p>
      <p class="friday-words words" id="e" name="236471016" title="Simple Symmetry - Kalimba" value="r1">I</p>
      <p class="friday-words words" id="r1" name="240502802" title="Howie Lee - 门 The Gate" value="r2">B</p>
      <p class="friday-words words" id="r2" name="230617075" title="Rezzett – Zik Zak" value="y">E</p>
      <p class="friday-words words" id="y" name="89269031" title="tiagosousa - Tema (OST Bibliografia)" value="c">S</p>
    </div>
  </section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
  <a class="companyLinks" href="https://soundcloud.com/macfams" target="_blank" id="juicey"> MacFams
    <img src="../images/macfams.png" class="Logo bounce" id="pineapple" />
  </a>
</div>