<section class="friday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>
	<section class="row">
		<div class="christmas row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="f-fri" name="171925793" title="Björk - :possibly maybe (Lucy Mix)" value="r-fri">F</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="r-fri" name="232504408" title="Young Thug - Best Friend" value="i-fri">R</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="i-fri" name="192922181" title="Enya - Caribbean Blue"value="d-fri">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="d-fri" name="234002207" title="Arca - Front Load" value="a-fri">D</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="a-fri" name="200982498" title="SOAP&&SKIN - Mawal Jamar223564334" value="y-fri">A</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words xmas mobile" id="y-fri" name="223564334" title="Wench - HBA Galvanize" value="v-fri">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="v-fri" name="138838764" title="Fatima Al Qadiri - Szechuan" value="ii-fri">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="ii-fri" name="166180397" title="Aphex Twin - minipops 67 (source Field Mix)" value="b-fri">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="b-fri" name="200333235" title="Gramatik - Native Son Ft Raekwon & Orlando Napier" value="e-fri">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="e-fri" name="195533950" title="Björk - Lionsong" value="s-fri">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', '');" class="friday-words words" id="s-fri" name="138358314" title="Shirley Bassey 1970s Live - The Greatest Performance Of My Life" value="f-fri">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>