<section class="friday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>
	<section class="row">
		<div class="christmas row">
			<p class="friday-words words xmas mobile" id="c" name="242093865" title="Santigold - Chasing Shadows" value="h">F</p>
			<p class="friday-words words xmas mobile" id="h" name="248815587" title="Raleigh Ritchie - Cowards (Prod by. Chris Loco)" value="r3">R</p>
			<p class="friday-words words xmas mobile" id="r3" name="225061287" title="GETTER - Weekend (Ft. Tree)"value="i">I</p>
			<p class="friday-words words xmas mobile" id="i" name="246327636" title="LimeEyed - Poor & Pretty" value="s1">D</p>
			<p class="friday-words words xmas mobile" id="s1" name="250078338" title="Marian Hill - Down" value="t">A</p>
			<p class="friday-words words xmas mobile" id="t" name="210761634" title="Ta-ku - Long Time No See ft. Atu (Ekali Remix)" value="m1">Y</p>
		</div>

		<div class="merry row">
			<p class="friday-words words" id="m1" name="247744385" title="ZAYN - PILLOWTALK (Stwo Remix)" value="e">V</p>
			<p class="friday-words words" id="e" name="242529361" title="Ivan Ave - The Circle (Prod by. Mndsgn)" value="r1">I</p>
			<p class="friday-words words" id="r1" name="122997408" title="Basenji - Dawn" value="r2">B</p>
			<p class="friday-words words" id="r2" name="117592188" title="Flume - Insane Ft. Moon Holiday (L D R U Remix)" value="y">E</p>
			<p class="friday-words words" id="y" name="236931510" title="Mr Oizo - Hand In The Fire Ft. Charli XCX" value="c">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
  <p id="and"> &  </p>
      
  <a class="companyLinks" href="http://allemahony.tumblr.com/" target="_blank" id="juicey">Ella Mahony
    <img src="../images/ella.png" class="Logo bounce" id="pineapple" />
  </a>

</div>