<section class="friday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	<section class="row">
		<div class="christmas row">
			<p class="friday-words xmas mobile" id="f-fri" name="235758881">F</p>
			<p class="friday-words xmas mobile" id="r-fri" name="187929420">R</p>
			<p class="friday-words xmas mobile" id="i-fri" name="24895618">I</p>
			<p class="friday-words xmas mobile" id="d-fri" name="235593121">D</p>
			<p class="friday-words xmas mobile" id="a-fri" name="235427283">A</p>
			<p class="friday-words xmas mobile" id="y-fri" name="208738257">Y</p>
		</div>

		<div class="merry row">
			<p class="friday-words" id="v-fri" name="233605980">V</p>
			<p class="friday-words" id="ii-fri" name="225425321">I</p>
			<p class="friday-words" id="b-fri" name="226404391">B</p>
			<p class="friday-words" id="e-fri" name="229055409">E</p>
			<p class="friday-words" id="s-fri" name="230917974">S</p>
		</div>
	</section>
</section>