<section class="row">
	<div class="marqueeRow row">
		<marquee id="artist-info"></marquee>
		<p id="mobile-notification" class="small-12 columns">To listen to the playlist <br> view vibes.digital on desktop</p>
		<img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	<div id="cover">
		<p id="instructions"> <span style="color: #F4989C"> HI
		</span><br> <br>
			<span style="color: #ACECF7"> each letter holds a tune</span>  <br>
			<span style="color: #D9F2B4"> so go ahead</span><br>
			<span style="color: #F4989C"> click to play</span><br>
		</p>
	</div>
	<div class="christmas row">
		<p class="words xmas mobile" id="c" name="235758881">M</p>
		<p class="words xmas mobile" id="h" name="187929420">O</p>
		<p class="words xmas mobile" id="r3" name="24895618">N</p>
		<p class="words xmas mobile" id="i" name="235593121">D</p>
		<p class="words xmas mobile" id="s1" name="235427283">A</p>
		<p class="words xmas mobile" id="t" name="208738257">Y</p>
	</div>

	<div class="merry row">
		<p class="words" id="m1" name="233605980">V</p>
		<p class="words" id="e" name="225425321">I</p>
		<p class="words" id="r1" name="226404391">B</p>
		<p class="words" id="r2" name="229055409">E</p>
		<p class="words" id="y" name="230917974">S</p>
	</div>
</section>