<section class="row">
	<div id="snow">
		<div class="row">
			<marquee id="artist-info"></marquee>
		</div>
		<div class="merry row">
			<p class="words" id="m1" name="233605980">M</p>
			<p class="words" id="e" name="225425321">E</p>
			<p class="words" id="r1" name="226404391">R</p>
			<p class="words" id="r2" name="229055409">R</p>
			<p class="words" id="y" name="230917974">Y</p>
		</div>
		<div class="christmas row">
			<p class="words xmas" id="c" name="235758881">C</p>
			<p class="words xmas" id="h" name="187929420">H</p>
			<p class="words xmas" id="r3" name="24895618">R</p>
			<p class="words xmas" id="i" name="235593121">I</p>
			<p class="words xmas" id="s1" name="235427283">S</p>
			<p class="words xmas" id="t" name="208738257">T</p>
			<p class="words xmas" id="m2" name="214497089">M</p>
			<p class="words xmas" id="a" name="228045522">A</p>
			<p class="words xmas" id="s2" name="234865253">S</p>
		</div>
		<div class="mobileChristmas row">
			<p class="words xmas mobile" id="c">X</p>
			<p class="words xmas mobile" id="h">M</p>
			<p class="words xmas mobile" id="r3">A</p>
			<p class="words xmas mobile" id="i">S</p>
		</div>
		<div class="thankyou row">
			<p class="nomayo">love </p>
				<a class="nomayoLink" href="http://www.no-mayo.digital" target="_blank">
					No Mayo Digital
					<img src="../images/nomayologo.png" class="NoMayoLogo"/>
				</a>
		</div>
	</div>
</section>