<section class="row">
	<div id="snow">
		<div class="merry row">
			<p class="words" id="m1" name="229055409">M</p>
			<p class="words" id="e" name="225425321">E</p>
			<p class="words" id="r1" name="226404391">R</p>
			<p class="words" id="r2" name="24895618">R</p>
			<p class="words" id="y" name="230917974">Y</p>
		</div>
		<div class="christmas row">
			<p class="words xmas" id="c">C</p>
			<p class="words xmas" id="h">H</p>
			<p class="words xmas" id="r3">R</p>
			<p class="words xmas" id="i">I</p>
			<p class="words xmas" id="s1">S</p>
			<p class="words xmas" id="t">T</p>
			<p class="words xmas" id="m2">M</p>
			<p class="words xmas" id="a">A</p>
			<p class="words xmas" id="s2">S</p>
		</div>
		<div class="mobileChristmas row">
			<p class="words xmas mobile" id="c">X</p>
			<p class="words xmas mobile" id="h">M</p>
			<p class="words xmas mobile" id="r3">A</p>
			<p class="words xmas mobile" id="i">S</p>
		</div>
	</div
</section>