<section class="playlistInfo">
  <div id='usernameList' class="small-4 columns tracklist">
    <h4>Username</h4>
  </div>

  <div id="tracknameList" class="small-4 columns tracklist">
    <h4>Track Name</h4>
  </div>

  <div id="trackidList" class="small-4 columns tracklist">
    <h4>Track IDs</h4>
  </div>
</section>

<section class="overall" class="row">
  <div id="masterList">

  </div>
</section>