<section class="fullbackground monday">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	
	<section class="row">
		<div class="christmas row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Ray BLK - 50/50');" class="monday-words words xmas mobile" id="c" name="234985339" title="Syd - Smile More" value="h">M</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Ménage à Trois - Ocean Boy');" class="monday-words words xmas mobile" id="h" name="228425769" title="Jordan Rakei - The3 Light" value="r3">O</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Lovebirds ft. Stee Downes - Want You In My Soul');" class="monday-words words xmas mobile" id="r3" name="201661860" title="HNNY - Cheery Up, My Brother" value="i">N</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Majid Jordan - Something About You');" class="monday-words words xmas mobile" id="i" name="243863435" title="Anna of the North - The Dreamer (TÂCHES & KAASI Remix)" value="s1">D</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Mura Masa - Lovesick Fuck');" class="monday-words words xmas mobile" id="s1" name="243981201" title="MDellux - Dreamer" value="t">A</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Joe Hertz - Ashes Ft LIV');" class="monday-words words xmas mobile" id="t" name="240585608" title="Austin Lebrón - Voy Pa Ya" value="m1">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Couros - Turning');" class="monday-words words" id="m1" name="232006850" title="Anderson .Paak Ft ScHoolboy Q - Am I Wrong" value="e">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'DREWXHILL - Struggle');" class="monday-words words" id="e" name="240720466" title="DEFFIE - All About You" value="r1">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kenton Slash Demon - Harpe');" class="monday-words words" id="r1" name="233519655" title="Gabe ‘Nandez - Scumbag (Joseph L’Étranger Mix)" value="r2">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Club Kuru - Layla');" class="monday-words words" id="r2" name="227484685" title="Salute - Colourblind (Ft ABRA)" value="y">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Luke Mahony Hammond - DRIFT');" class="monday-words words" id="y" name="229744672" title="Monte Booker - Baby Ft.Ravyn Lenae" value="c">S</p>
		</div>
	</section>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>