<section class="fullbackground monday">
	<div class="marqueeRow row">
	  <marquee id="artist-info"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	
	<section class="row">
		<div class="christmas row">
			<p class="monday-words words xmas mobile" id="c" name="235758881">M</p>
			<p class="monday-words words xmas mobile" id="h" name="187929420">O</p>
			<p class="monday-words words xmas mobile" id="r3" name="24895618">N</p>
			<p class="monday-words words xmas mobile" id="i" name="235593121">D</p>
			<p class="monday-words words xmas mobile" id="s1" name="235427283">A</p>
			<p class="monday-words words xmas mobile" id="t" name="208738257">Y</p>
		</div>

		<div class="merry row">
			<p class="monday-words words" id="m1" name="233605980">V</p>
			<p class="monday-words words" id="e" name="225425321">I</p>
			<p class="monday-words words" id="r1" name="226404391">B</p>
			<p class="monday-words words" id="r2" name="229055409">E</p>
			<p class="monday-words words" id="y" name="230917974">S</p>
		</div>
	</section>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>

  <p id="and"> &  </p>
  
  <a class="companyLinks" href="http://juicebox.fm/" target="_blank" id="juicey">JUICEBOX
    <img src="../images/juiceboxlogo.png" class="Logo bounce" id="pineapple" />
  </a>
</div>