<section class="fullbackground monday">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	
	<section class="row">
		<div class="christmas row">
			<p class="monday-words words xmas mobile" id="c" name="235758881" title="Ray BLK - 50/50" value="h">M</p>
			<p class="monday-words words xmas mobile" id="h" name="187929420" title="Ménage à Trois - Ocean Boy" value="r3">O</p>
			<p class="monday-words words xmas mobile" id="r3" name="24895618" title="Lovebirds ft. Stee Downes - Want You In My Soul" value="i">N</p>
			<p class="monday-words words xmas mobile" id="i" name="235593121" title="Majid Jordan - Something About You" value="s1">D</p>
			<p class="monday-words words xmas mobile" id="s1" name="200083292" title="Mura Masa - Lovesick Fuck" value="t">A</p>
			<p class="monday-words words xmas mobile" id="t" name="208738257" title="Joe Hertz - Ashes Ft LIV" value="m1">Y</p>
		</div>

		<div class="merry row">
			<p class="monday-words words" id="m1" name="233605980" title="Couros - Turning" value="e">V</p>
			<p class="monday-words words" id="e" name="225425321" title="DREWXHILL - Struggle" value="r1">I</p>
			<p class="monday-words words" id="r1" name="218904197" title="Kenton Slash Demon - Harpe" value="r2">B</p>
			<p class="monday-words words" id="r2" name="229055409" title="Club Kuru - Layla" value="y">E</p>
			<p class="monday-words words" id="y" name="230917974" title="Luke Mahony Hammond - DRIFT" value="c">S</p>
		</div>
	</section>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>