<section class="sunday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	<section class="row">
		<div class="christmas row">
			<p class="sunday-words xmas mobile" id="s-sun" name="235758881">S</p>
			<p class="sunday-words xmas mobile" id="u-sun" name="187929420">U</p>
			<p class="sunday-words xmas mobile" id="n-sun" name="24895618">N</p>
			<p class="sunday-words xmas mobile" id="d-sun" name="208738257">D</p>
			<p class="sunday-words xmas mobile" id="a-sun" name="208738257">A</p>
			<p class="sunday-words xmas mobile" id="y-sun" name="208738257">Y</p>

		</div>

		<div class="merry row">
			<p class="sunday-words" id="v-sun" name="233605980">V</p>
			<p class="sunday-words" id="i-sun" name="225425321">I</p>
			<p class="sunday-words" id="b-sun" name="226404391">B</p>
			<p class="sunday-words" id="e-sun" name="229055409">E</p>
			<p class="sunday-words" id="ss-sun" name="230917974">S</p>
		</div>
	</section>
</section>