<section class="thursday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	<section class="row">
		<div class="christmas row spacingTop">
			<p class="thursday-words words xmas mobile" id="t-th" name="235758881">T</p>
			<p class="thursday-words words xmas mobile" id="h-th" name="187929420">H</p>
			<p class="thursday-words words xmas mobile" id="u-th" name="24895618">U</p>
			<p class="thursday-words words xmas mobile" id="r-th" name="235593121">R</p>
			<p class="thursday-words words xmas mobile" id="s-th" name="235427283">S</p>
			<p class="thursday-words words xmas mobile" id="d-th" name="208738257">D</p>
			<p class="thursday-words words xmas mobile" id="a-th" name="208738257">A</p>
			<p class="thursday-words words xmas mobile" id="y-th" name="208738257">Y</p>
		</div>

		<div class="merry row">
			<p class="thursday-words words" id="v-th" name="233605980">V</p>
			<p class="thursday-words words" id="i-th" name="225425321">I</p>
			<p class="thursday-words words" id="b-th" name="226404391">B</p>
			<p class="thursday-words words" id="e-th" name="229055409">E</p>
			<p class="thursday-words words" id="ss-th" name="230917974">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>