<section class="thursday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>
	<section class="row">
		<div class="christmas row spacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Katy B x KAYTRANADA - Honey');" class="thursday-words words xmas mobile" id="t-th" name="214486261" title="Minorfear - Picturesque" value="h-th">T</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Florence + The Machine - Youve Got The Love (Jamie XX Remix)');" class="thursday-words words xmas mobile" id="h-th" name="120215197" title="Banoffee - Reign Down" value="u-th">H</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Ricky Blaze - Apart Ft. Alexus Rose');" class="thursday-words words xmas mobile" id="u-th" name="224578102" title="Craves - Many Times " value="r-th">U</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Oh Wonder - Body Gold (Louis The Child Remix)');" class="thursday-words words xmas mobile" id="r-th" name="246670616" title="HONNE - Woman" value="s-th">R</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Jah9 - Avocado');" class="thursday-words words xmas mobile" id="s-th" name="149434008" title="Sensu Dreams - Raspberry Days" value="d-th">S</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'The Other Side - Public Service Broadcasting');" class="thursday-words words xmas mobile" id="d-th" name="130655455" title="Cosmic Quest - In Her Wisdom (Free Honey)" value="a-th">D</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'flybear - The Hook');" class="thursday-words words xmas mobile" id="a-th" name="245467736" title="Gibbz - Higher Than I've Ever Been ft. Dominic Lalli" value="y-th">A</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Alex Shulz - Never Forget You');" class="thursday-words words xmas mobile" id="y-th" name="249581894" title="Marcus Marr & Chet Faker - Killing Jar" value="v-th">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'MØ - Don’t Wanna Dance (Goldroom Remix)');" class="thursday-words words" id="v-th" name="118436219" title="HONNE & Izzy Bizu - Someone That Loves You" value="i-th">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Hayden James - Something About You (ODESZA Remix)');" class="thursday-words words" id="i-th" name="227663953" title="Chet Faker | 1998 (Sonny Alven Remix)" value="b-th">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Astronomyy - Ocean Eyes (Astronomyy Edit)');" class="thursday-words words" id="b-th" name="245250016" title="Shallou - Heights" value="e-th">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Fickle Friends - Say No More');" class="thursday-words words" id="e-th" name="211502264" title="Flight Facilities - Heart Attack feat. Owl Eyes (Snakehips Remix)" value="ss-th">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tom Misch + Carmody - Easy Love');" class="thursday-words words" id="ss-th" name="94934653" title="Daft Punk - Lose Yourself to Dance" value="">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />

     <p id="and"> &  </p>
      
      <a class="companyLinks" href="https://twitter.com/jalada" target="_blank" id="juicey">JALADA
        <img src="../images/jalada.png" class="Logo bounce" id="pineapple" />
      </a>
  </a>
</div>