<section class="tuesday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>

	<section class="row">
		<div class="christmas row">
			<p class="tuesday-words xmas mobile" id="t-tues" name="235758881">T</p>
			<p class="tuesday-words xmas mobile" id="u-tues" name="187929420">U</p>
			<p class="tuesday-words xmas mobile" id="e-tues" name="24895618">E</p>
			<p class="tuesday-words xmas mobile" id="s-tues" name="235593121">S</p>
			<p class="tuesday-words xmas mobile" id="d-tues" name="235427283">D</p>
			<p class="tuesday-words xmas mobile" id="a-tues" name="208738257">A</p>
			<p class="tuesday-words xmas mobile" id="y-tues" name="208738257">Y</p>

		</div>

		<div class="merry row">
			<p class="tuesday-words" id="v-tues" name="233605980">V</p>
			<p class="tuesday-words" id="i-tues" name="225425321">I</p>
			<p class="tuesday-words" id="b-tues" name="226404391">B</p>
			<p class="tuesday-words" id="ee-tues" name="229055409">E</p>
			<p class="tuesday-words" id="ss-tues" name="230917974">S</p>
		</div>
	</section>
</section>