<section class="tuesday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>

	<section class="row">
		<div class="christmas row tuesday-spacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tourist - To Have You Back');" class="tuesday-words words xmas mobile" id="t-tues" name="153630967" title="Popcaan - Give Thanks (Produced by Dubbel Dutch)" value="u-tues">T</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Odesza - My Friends Never Die Little');" class="tuesday-words words xmas mobile" id="u-tues" name="177587321" title="Vybz Kartel - Love You Baby" value="e-tues">U</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Little People - Start Shootin');" class="tuesday-words words xmas mobile" id="e-tues" name="207300813" title="Palmistry - Memory Taffeta" value="s-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nuages - Dreams');" class="tuesday-words words xmas mobile" id="s-tues" name="165004465" title="Popcaan - Naughty Girl (Dubbel Dutch Hyperwine Refix)" value="d-tues">S</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nao Vs. A. K. Paul - So Good');" class="tuesday-words words xmas mobile" id="d-tues" name="252284592" title="Tifa - The Champ (Raw)" value="a-tues">D</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nujabes - Reflection Eternal');" class="tuesday-words words xmas mobile" id="a-tues" name="226632565" title="ANOTHER MAN [RAW] - LETS ROCK THIS RIDDIM" value="y-tues">A</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tom Misch - Sunshine');" class="tuesday-words words xmas mobile" id="y-tues" name="255825834" title="I-Octane - Buss A Blank (Mina Remix)" value="v-tues">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Glxy - Searching You');" class="tuesday-words words" id="v-tues" name="57767066" title="Gafacci - Cloud9 (Prod by Gafacci)" value="i-tues">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kiiara - Gold');" class="tuesday-words words" id="i-tues" name="243225296" title="Branko - Eventually (feat. Alex Rita & Bison) [Dotorado Pro Remix]" value="b-tues">I</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Flybear - The Hook');" class="tuesday-words words" id="b-tues" name="248531889" title="DBM (Deadboy x Murlo) 'Ride With U'" value="ee-tues">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Darkside - Paper Trails');" class="tuesday-words words" id="ee-tues" name="155385737" title="Vybz Kartel Ft Keshan - Bubble Up Yuh Body" value="ss-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Glxy - Searching You');" class="tuesday-words words" id="ss-tues" name="253883330" title="Rihanna ft. Drake - Work (Murlo Remix)" value="t-tues">S</p>
		</div>
	</section>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>

     <p id="and"> &  </p>

  <a class="companyLinks darby" href="https://twitter.com/DarbyWalsh" target="_blank" id="juicey"> Darby Walsh
    <img src="../images/darby.png" class="Logo bounce" id="pineapple" />
  </a>
</div>