<section class="tuesday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>

	<section class="row">

		<div class="christmas row tuesday-spacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'glxy - 3 am');" class="tuesday-words words xmas mobile" id="t-tues" name="185905511" title="glxy - submerge" value="u-tues">T</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Com Truise - IAMANTHEM');" class="tuesday-words words xmas mobile" id="u-tues" name="207246331" title="Com Truise - IAMANTHEM" value="e-tues">U</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Little People - Unsaid');" class="tuesday-words words xmas mobile" id="e-tues" name="1688272" title="Little People - Unsaid" value="s-tues">E</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Wild Nothing - Paradise');" class="tuesday-words words xmas mobile" id="s-tues" name="55381506" title="'Wild Nothing - Paradise'" value="d-tues">S</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'glxy - submerge');" class="tuesday-words words xmas mobile" id="d-tues" name="198423385" title="glxy - 3 am" value="a-tues">D</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Oddience : Watermelon)';" class="tuesday-words words xmas mobile" id="a-tues" name="202066646" title="Oddience - Watermelon" value="y-tues">A</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tom Misch - Sunshine');" class="tuesday-words words xmas mobile" id="y-tues" name="155143944" title="Tycho - Awake" value="v-tues">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Glxy - Searching You');" class="tuesday-words words" id="v-tues" name="218046760" title="Ménage à Trois - Overseas" value="i-tues">V</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kiiara - Gold');" class="tuesday-words words" id="i-tues" name="71372548" title="Arcade High - Outrun This! " value="b-tues">I</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Flybear - The Hook');" class="tuesday-words words" id="b-tues" name="88257905" title="Bibio - You'" value="ee-tues">B</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Darkside - Paper Trails');" class="tuesday-words words" id="ee-tues" name="28057753" title="The Knife - Silent Shout" value="ss-tues">E</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Glxy - Searching You');" class="tuesday-words words" id="ss-tues" name="26684188" title="Kölsch - Der Alte" value="t-tues">S</p>
		</div>
	</section>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>