<section class="tuesday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>

	<section class="row">
		<div class="christmas row tuesdayspacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tourist - To Have You Back');" class="tuesday-words words xmas mobile" id="t-tues" name="235758881">T</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Odesza - My Friends Never Die Little');" class="tuesday-words words xmas mobile" id="u-tues" name="187929420">U</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Little People - Start Shootin');" class="tuesday-words words xmas mobile" id="e-tues" name="24895618">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nuages - Dreams');" class="tuesday-words words xmas mobile" id="s-tues" name="235593121">S</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nao Vs. A. K. Paul - So Good');" class="tuesday-words words xmas mobile" id="d-tues" name="235427283">D</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nujabes - Reflection Eternal');" class="tuesday-words words xmas mobile" id="a-tues" name="208738257">A</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tourist - To Have You Back');" class="tuesday-words words xmas mobile" id="y-tues" name="208738257">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Pop Caan - Feisty Chat');" class="tuesday-words words" id="v-tues" name="233605980">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Woods - Sun City Creeps');" class="tuesday-words words" id="i-tues" name="225425321">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Flybear - The Hook');" class="tuesday-words words" id="b-tues" name="226404391">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Darkside - Paper Trails');" class="tuesday-words words" id="ee-tues" name="229055409">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Glxy - Searching You');" class="tuesday-words words" id="ss-tues" name="230917974">S</p>
		</div>
	</section>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>