<section class="tuesday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>

	<section class="row">
		<div class="christmas row tuesday-spacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tourist - To Have You Back');" class="tuesday-words words xmas mobile" id="t-tues" name="244757276" title="Imagined Herbal Flowers - Evolve" value="u-tues">T</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Odesza - My Friends Never Die Little');" class="tuesday-words words xmas mobile" id="u-tues" name="245596502" title="A R I Z O N A - I Was Wrong (RAMI X Jiinio Remix)" value="e-tues">U</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Little People - Start Shootin');" class="tuesday-words words xmas mobile" id="e-tues" name="224789187" title="Vanilla - Swept Away" value="s-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nuages - Dreams');" class="tuesday-words words xmas mobile" id="s-tues" name="246195391" title="Craves - By My Side" value="d-tues">S</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nao Vs. A. K. Paul - So Good');" class="tuesday-words words xmas mobile" id="d-tues" name="237311260" title="Michael Davis - Lightyears" value="a-tues">D</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nujabes - Reflection Eternal');" class="tuesday-words words xmas mobile" id="a-tues" name="196156652" title="TinasheNow - O2 Wrong" value="y-tues">A</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tom Misch - Sunshine');" class="tuesday-words words xmas mobile" id="y-tues" name="168898878" title="Ryan Hemsworth - Snow In Newark" value="v-tues">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Glxy - Searching You');" class="tuesday-words words" id="v-tues" name="238332171" title="Swell - I’m Sorry (Ft. Shiloh)" value="i-tues">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kiiara - Gold');" class="tuesday-words words" id="i-tues" name="197239971" title="Broken Back - Happiest Man On Earth" value="b-tues">I</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Flybear - The Hook');" class="tuesday-words words" id="b-tues" name="245545714" title="Pretty Sister - DRIVE" value="ee-tues">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Darkside - Paper Trails');" class="tuesday-words words" id="ee-tues" name="225457150" title="TREGS - I Miss You" value="ss-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Glxy - Searching You');" class="tuesday-words words" id="ss-tues" name="189012202" title="Eliènne - Between Us (Ft. Mothica)" value="t-tues">S</p>
		</div>
	</section>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>

     <p id="and"> &  </p>

  <a class="companyLinks darby" href="https://twitter.com/DarbyWalsh" target="_blank" id="juicey"> Darby Walsh
    <img src="../images/darby.png" class="Logo bounce" id="pineapple" />
  </a>
</div>