<section class="tuesday fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton blacki">
	</div>

	<section class="row">
		<div class="christmas row spacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tourist - To Have You Back');" class="tuesday-words words xmas mobile" id="t-tues" name="243051362" title="Tourist - To Have You Back" value="u-tues">T</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Odesza - My Friends Never Die Little');" class="tuesday-words words xmas mobile" id="u-tues" name="118894880" title="Odesza - My Friends Never Die Little" value="e-tues">U</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Little People - Start Shootin');" class="tuesday-words words xmas mobile" id="e-tues" name="1688282" title="Little People - Start Shootin" value="s-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nuages - Dreams');" class="tuesday-words words xmas mobile" id="s-tues" name="73799584" title="Nuages - Dreams" value="d-tues">S</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nao Vs. A. K. Paul - So Good');" class="tuesday-words words xmas mobile" id="d-tues" name="154829271" title="Nao Vs. A. K. Paul - So Good" value="a-tues">D</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nujabes - Reflection Eternal');" class="tuesday-words words xmas mobile" id="a-tues" name="70430214" title="Nujabes - Reflection Eternal" value="y-tues">A</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Tom Misch - Sunshine');" class="tuesday-words words xmas mobile" id="y-tues" name="210606695" title="Tom Misch - Sunshine" value="v-tues">Y</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Glxy - Searching You');" class="tuesday-words words" id="v-tues" name="201557891" title="Glxy - Searching You" value="i-tues">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kiiara - Gold');" class="tuesday-words words" id="i-tues" name="210633688" title="Kiiara - Gold" value="b-tues">I</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Flybear - The Hook');" class="tuesday-words words" id="b-tues" name="237101589" title="Flybear - The Hook" value="ee-tues">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Darkside - Paper Trails');" class="tuesday-words words" id="ee-tues" name="116385682" title="Darkside - Paper Trails (RA Sessions)" value="ss-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Glxy - Searching You');" class="tuesday-words words" id="ss-tues" name="237386464" title="Pop Caan - Feisty Chat" value="t-tues">S</p>
		</div>
	</section>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>