<section class="wednesday fullbackground">
	<div id="content">
		<div class="marqueeRow row">
		  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
		  <img src="../images/info.png" class="infoButton" id="TEST">
		</div>

		<section class="row">
			<div class="christmas row spacingTop">
				<p class="wednesday-words words xmas mobile" id="w-w" name="242672575">W</p>
				<p class="wednesday-words words xmas mobile" id="e-w" name="241253852">E</p>
				<p class="wednesday-words words xmas mobile" id="d-w" name="237388216">D</p>
				<p class="wednesday-words words xmas mobile" id="n-w" name="218180798">N</p>
				<p class="wednesday-words words xmas mobile" id="ee-w" name="230316167">E</p>
				<p class="wednesday-words words xmas mobile" id="s-w" name="235150744">S</p>
				<p class="wednesday-words words xmas mobile" id="dd-w" name="243088218">D</p>
				<p class="wednesday-words words xmas mobile" id="a-w" name="243384377">A</p>
				<p class="wednesday-words words xmas mobile" id="y-w" name="241018700">Y</p>
			</div>

			<div class="merry row">
				<p class="wednesday-words words" id="v-w" name="244233941">V</p>
				<p class="wednesday-words words" id="i-w" name="240654811">I</p>
				<p class="wednesday-words words" id="b-w" name="96379023">B</p>
				<p class="wednesday-words words" id="eee-w" name="243255972">E</p>
				<p class="wednesday-words words" id="ss-w" name="222754027">S</p>
			</div>
		</section>
		
	</div>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>