<section class="wednesday fullbackground">
	<div id="content">
		<div class="marqueeRow row">
		  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
		  <img src="../images/info.png" class="infoButton" id="TEST">
		</div>

		<section class="row">
			<div class="christmas row spacingTop">
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Ben Philipps - Dont Look Back (feat. Ashe)');" class="wednesday-words words xmas mobile" id="w-w" name="242672575" title="Ben Philipps - Don’t Look Back (feat. Ashe)" value="e-w">W</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Caius - Without You');" class="wednesday-words words xmas mobile" id="e-w" name="241253852" title="Caius - Without You" value="d-w">E</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Dezaulait & Courtney Beavers - Just Ask');" class="wednesday-words words xmas mobile" id="d-w" name="237388216" title="Dezaulait & Courtney Beavers - Just Ask" value="n-w">D</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Billie Black - 3. Floating (prod.salute)');" class="wednesday-words words xmas mobile" id="n-w" name="218180798" title="Billie Black - 3. Floating (prod.salute)" value="ee-w">N</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Fine Print - Cant Lie (Ivy Lab Remix)');" class="wednesday-words words xmas mobile" id="ee-w" name="230316167" title="Fine Print - Can’t Lie (Ivy Lab Remix)" value="s-w">E</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'esta - Feathers (ft. JBird)');" class="wednesday-words words xmas mobile" id="s-w" name="235150744" title="esta - Feathers (ft. JBird)" value="dd-w">S</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Novo Amor - Anchor (Boehm Remix)');" class="wednesday-words words xmas mobile" id="dd-w" name="243088218" title="Novo Amor - Anchor (Boehm Remix)" value="a-w">D</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'FloFilz - Getdismoney');" class="wednesday-words words xmas mobile" id="a-w" name="243384377" title="FloFilz - Getdismoney" value="y-w">A</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kanye West - Real Friends');" class="wednesday-words words xmas mobile" id="y-w" name="241018700" title="Kanye West - Real Friends" value="v-w">Y</p>
			</div>

			<div class="merry row">
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'RYAN Playground - Are You Mad');" class="wednesday-words words" id="v-w" name="244233941" title="RYAN Playground - Are You Mad" value="i-w">V</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'HONNE - Gone Are The Days (SOHN Remix)');" class="wednesday-words words" id="i-w" name="240654811" title="HONNE - Gone Are The Days (SOHN Remix)" value="b-w">I</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Disclosure - You & Me (Flume Remix)');" class="wednesday-words words" id="b-w" name="96379023" title="Disclosure - You & Me (Flume Remix)" value="eee-w">B</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kali Uchis - Ridin Round Ft. Tory Lanez (Oshi Redo)');" class="wednesday-words words" id="eee-w" name="243255972" title="Kali Uchis - Ridin Round Ft. Tory Lanez (Oshi Redo)" value="ss-w">E</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kenton Slash Demon - Syko');" class="wednesday-words words" id="ss-w" name="222754027" title="Kenton Slash Demon - Syko" value="w-w">S</p>
			</div>
		</section>
		
	</div>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>