<section class="wednesday fullbackground">
	<div id="content">
		<div class="marqueeRow row">
		  <marquee id="artist-info"></marquee>
		  <img src="../images/info.png" class="infoButton" id="TEST">
		</div>

		<section class="row">
			<div class="christmas row spacingTop">
				<p class="wednesday-words words xmas mobile" id="w-w" name="235758881">W</p>
				<p class="wednesday-words words xmas mobile" id="e-w" name="187929420">E</p>
				<p class="wednesday-words words xmas mobile" id="d-w" name="24895618">D</p>
				<p class="wednesday-words words xmas mobile" id="n-w" name="235593121">N</p>
				<p class="wednesday-words words xmas mobile" id="ee-w" name="235427283">E</p>
				<p class="wednesday-words words xmas mobile" id="s-w" name="208738257">S</p>
				<p class="wednesday-words words xmas mobile" id="dd-w" name="208738257">D</p>
				<p class="wednesday-words words xmas mobile" id="a-w" name="208738257">A</p>
				<p class="wednesday-words words xmas mobile" id="y-w" name="208738257">Y</p>
			</div>

			<div class="merry row">
				<p class="wednesday-words words" id="v-w" name="233605980">V</p>
				<p class="wednesday-words words" id="i-w" name="225425321">I</p>
				<p class="wednesday-words words" id="b-w" name="226404391">B</p>
				<p class="wednesday-words words" id="eee-w" name="229055409">E</p>
				<p class="wednesday-words words" id="s-w" name="230917974">S</p>
			</div>
		</section>
		
	</div>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
</div>