<section class="wednesday fullbackground">
	<div id="content">
		<div class="marqueeRow row">
		  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
		  <img src="../images/info.png" class="infoButton" id="TEST">
		</div>

		<section class="row">
			<div class="christmas row spacingTop">
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Ben Philipps - Dont Look Back (feat. Ashe)');" class="wednesday-words words xmas mobile" id="w-w" name="397812" title="Al Green - Love And Happiness" value="e-w">W</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Caius - Without You');" class="wednesday-words words xmas mobile" id="e-w" name="165318160" title="Louiz Banks - Song For My Lady" value="d-w">E</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Dezaulait & Courtney Beavers - Just Ask');" class="wednesday-words words xmas mobile" id="d-w" name="12955408" title="Rufus & Chaka Khan - Aint Nobody (Sensus Soul Edit)" value="n-w">D</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Billie Black - 3. Floating (prod.salute)');" class="wednesday-words words xmas mobile" id="n-w" name="22966663" title="Inner Life - Moments Of My Life (Shep Pettibone mix)" value="ee-w">N</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Fine Print - Cant Lie (Ivy Lab Remix)');" class="wednesday-words words xmas mobile" id="ee-w" name="268681" title="Stevie Wonder - Superstition (Tood Terje Edit)" value="s-w">E</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'esta - Feathers (ft. JBird)');" class="wednesday-words words xmas mobile" id="s-w" name="100556170" title="JKriv & The Disco Machine - Make It Hot (Ft. Adeline Mechèle & Angelica Allen)" value="dd-w">S</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Novo Amor - Anchor (Boehm Remix)');" class="wednesday-words words xmas mobile" id="dd-w" name="145986307" title="Lenny Williams - Running (Dennis Collado ‘Paradise Garage Re-Edit’)" value="a-w">D</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'FloFilz - Getdismoney');" class="wednesday-words words xmas mobile" id="a-w" name="172799503" title="YSE - The Optimistic Voyeur" value="y-w">A</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kanye West - Real Friends');" class="wednesday-words words xmas mobile" id="y-w" name="22359569" title="Edit The Edit - Two Sides Of Sympathy (Greg Wilson Remix)" value="v-w">Y</p>
			</div>

			<div class="merry row">
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'RYAN Playground - Are You Mad');" class="wednesday-words words" id="v-w" name="155852171" title="Session Victim - Never Foroget" value="i-w">V</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'HONNE - Gone Are The Days (SOHN Remix)');" class="wednesday-words words" id="i-w" name="199249904" title="Tonbe - Give Me Funk" value="b-w">I</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Disclosure - You & Me (Flume Remix)');" class="wednesday-words words" id="b-w" name="2828828" title="6TH Borough Project - Do It To The Max" value="eee-w">B</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kali Uchis - Ridin Round Ft. Tory Lanez (Oshi Redo)');" class="wednesday-words words" id="eee-w" name="172799505" title="YSE - Keep In Step" value="ss-w">E</p>
				<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kenton Slash Demon - Syko');" class="wednesday-words words" id="ss-w" name="228200739" title="Norma Jean Bell - I’m The Baddest Bitch (In The Room) (Moodymann Mix)" value="w-w">S</p>
			</div>
		</section>
		
	</div>
</section>

<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
      <p id="and"> & &nbsp; </p>

  <a class="companyLinks" href="https://soundcloud.com/harry-edmonds" target="_blank" id="juicey"> Harry Edmonds
    <img src="../images/harry.png" class="Logo bounce" id="pineapple" />
  </a>
</div>