<section class="weekend fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	<section class="row">
		<div class="christmas row spacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'PJ-Rogers - Patrice Rushen - Havent You Heard');" class="weekend-words words xmas mobile orangeweekend" id="t-tues" name="153024511" title="TV Girl - Pantyhose" value="u-tues">W</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'David Bowie - Lets Dance');" class="weekend-words words xmas mobile" id="u-tues" name="265364139" title="PETIT BISCUIT - Full Moon" value="e-tues">E</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'TENSNAKE - Coma Cat');" class="weekend-words words xmas mobile " id="e-tues" name="264791220" title="Celadon City : Return" value="s-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'ABBA - Voulez Vous');" class="weekend-words words xmas mobile orangeweekend" id="s-tues" name="264287607" title="Lianne La Havas - Ghost (EveryNite Edition)" value="d-tues">K</p>
			
      <p onClick="ga('send', 'event', 'Videos', 'Play', 'Sticky Ft Kele Le Roc The Things We Do For Love');" class="weekend-words words xmas mobile" id="d-tues" name="258835703" title="Kučka - Honey (medasin redo)" value="a-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Roy Ayers - Running Away');" class="weekend-words words xmas mobile" id="a-tues" name="244726042" title="Azryd : Always You" value="y-tues">N</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kanye West - All Day');" class="weekend-words words xmas mobile" id="y-tues" name="257970466" title="DiRTY RADiO : Curious" value="v-tues">D</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Norma Jean Bell - Im The Baddest Bitch');" class="weekend-words words" id="v-tues" name="264048572" title="Krs. x tobi lou // game ova remix" value="i-tues">V</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'on Hopkins - Collider (Pangaea Remix)');" class="weekend-words words" id="i-tues" name="263163120" title="ARTHÜR : tuesday" value="b-tues">I</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Rhianna & Diplo - Bitch Better Have My Money');" class="weekend-words words" id="b-tues" name="250558682" title="ㄒг ᐃ√Ιㄅ ᔕㄈ0ㄒㄒ - Antidote (Kozmo & Mike.ILL Bootleg)" value="ee-tues">B</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nas & Damien Marley - Patience');" class="weekend-words words orangeweekend" id="ee-tues" name="256289763" title="Luminate - Infiltrate" value="ss-tues">E</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Lando Kal - TMRW');" class="weekend-words words" id="ss-tues" name="251354400" title="Duñe x Crayon - Blue Window" value="t-tues">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
	 <p id="and"> &  </p>

  <a class="companyLinks darby" href="https://twitter.com/DarbyWalsh" target="_blank" id="juicey"> Darby Walsh
    <img src="../images/darby.png" class="Logo bounce" id="pineapple" />
  </a>
</div>