<section class="weekend fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	<section class="row">
		<div class="christmas row spacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'PJ-Rogers - Patrice Rushen - Havent You Heard');" class="weekend-words words xmas mobile orangeweekend" id="t-tues" name="210606695" title="Tom Misch - Sunshine" value="u-tues">W</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'David Bowie - Lets Dance');" class="weekend-words words xmas mobile" id="u-tues" name="104537920" title="Force of Nature, Fat Jon & Nujabes - Just Forget" value="e-tues">E</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'TENSNAKE - Coma Cat');" class="weekend-words words xmas mobile " id="e-tues" name="130789296" title="Roy Davis Jr - Gabriel (Ft.Peven Everett)" value="s-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'ABBA - Voulez Vous');" class="weekend-words words xmas mobile orangeweekend" id="s-tues" name="202167170" title="LEISURE - Got It Bad" value="d-tues">K</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Sticky Ft Kele Le Roc The Things We Do For Love');" class="weekend-words words xmas mobile" id="d-tues" name="177555807" title="Quail & Tight - This Is How We Walk On The Moon (covered by José Gonzalez)" value="a-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Roy Ayers - Running Away');" class="weekend-words words xmas mobile" id="a-tues" name="208663224" title="Harrison Brome - Fill Your Brains" value="y-tues">N</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kanye West - All Day');" class="weekend-words words xmas mobile" id="y-tues" name="184687822" title="Lilacs & Champagne - Roses & Kisses" value="v-tues">D</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Norma Jean Bell - Im The Baddest Bitch');" class="weekend-words words" id="v-tues" name="204931878" title="Kllo - Under Lie (Filion Bootleg)" value="i-tues">V</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'on Hopkins - Collider (Pangaea Remix)');" class="weekend-words words" id="i-tues" name="123977241" title="JOY! - Still Lovely" value="b-tues">I</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Rhianna & Diplo - Bitch Better Have My Money');" class="weekend-words words" id="b-tues" name="159091244" title="Rival Consoles - 3 Chords" value="ee-tues">B</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nas & Damien Marley - Patience');" class="weekend-words words orangeweekend" id="ee-tues" name="97101652" title="CATCHING FLIES - The Long Journey Home" value="ss-tues">E</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Lando Kal - TMRW');" class="weekend-words words" id="ss-tues" name="231177376" title="Mistakes Are OK - Forgiven" value="t-tues">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
	 <p id="and"> &  </p>

  <a class="companyLinks" href="https://www.instagram.com/smithfams/" target="_blank" id="juicey">Fred Smith
    <img src="../images/fred.png" class="Logo bounce" id="pineapple" />
  </a>
</div>