<section class="weekend fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	<section class="row">
		<div class="christmas row spacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'PJ-Rogers - Patrice Rushen - Havent You Heard');" class="weekend-words words xmas mobile orangeweekend" id="t-tues" name="6188074" title="PJ-Rogers - Patrice Rushen - Haven't You Heard" value="u-tues">W</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'David Bowie - Lets Dance');" class="weekend-words words xmas mobile" id="u-tues" name="33853709" title="David Bowie - Let's Dance" value="e-tues">E</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'TENSNAKE - Coma Cat');" class="weekend-words words xmas mobile " id="e-tues" name="5311464" title="Tensnake - Coma Cat" value="s-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'ABBA - Voulez Vous');" class="weekend-words words xmas mobile orangeweekend" id="s-tues" name="5606506" title="ABBA - Voulez Vous" value="d-tues">K</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Sticky Ft Kele Le Roc The Things We Do For Love');" class="weekend-words words xmas mobile" id="d-tues" name="101130779" title="Sticky Ft Kele Le Roc The Things We Do For Love" value="a-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Roy Ayers - Running Away');" class="weekend-words words xmas mobile" id="a-tues" name="143503735" title="Roy Ayers - Running Away" value="y-tues">N</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Kanye West - All Day');" class="weekend-words words xmas mobile" id="y-tues" name="194156277" title="Kanye West - All Day" value="v-tues">D</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Norma Jean Bell - Im The Baddest Bitch');" class="weekend-words words" id="v-tues" name="24367766" title="Norma Jean Bell - I'm The Baddest Bitch" value="i-tues">V</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'on Hopkins - Collider (Pangaea Remix)');" class="weekend-words words" id="i-tues" name="123977241" title="Jon Hopkins - Collider (Pangaea Remix)" value="b-tues">I</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Rhianna & Diplo - Bitch Better Have My Money');" class="weekend-words words" id="b-tues" name="205376197" title="Rhianna & Diplo - Bitch Better Have My Money" value="ee-tues">B</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Nas & Damien Marley - Patience');" class="weekend-words words orangeweekend" id="ee-tues" name="7227730" title="Nas & Damien Marley - Patience" value="ss-tues">E</p>

			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Lando Kal - TMRW');" class="weekend-words words" id="ss-tues" name="33572155" title="Lando Kal - TMRW" value="t-tues">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
	 <p id="and"> &  </p>

  <a class="companyLinks" href="https://twitter.com/Bigmaccy1" target="_blank" id="juicey">Saph Mac
    <img src="../images/saph.png" class="Logo bounce" id="pineapple" />
  </a>
</div>