<section class="weekend fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	<section class="row">
		<div class="christmas row spacingTop">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Neon Indian - Slumlord');" class="weekend-words words xmas mobile orangeweekend" id="t-tues" name="217631668" title="Neon Indian - Slumlord" value="u-tues">W</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Farao - Bodies');" class="weekend-words words xmas mobile" id="u-tues" name="210435903" title="Farao - Bodies" value="e-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Crushed Beaks - Overgrown');" class="weekend-words words xmas mobile " id="e-tues" name="184718549" title="Crushed Beaks - Overgrown" value="s-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Llewellyn Lloyd - Svartklubb');" class="weekend-words words xmas mobile orangeweekend" id="s-tues" name="192147047" title="Llewellyn Lloyd - Svartklubb" value="d-tues">K</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Fat White Family - Whitest Boy On The Beach');" class="weekend-words words xmas mobile" id="d-tues" name="232734777" title="Fat White Family - Whitest Boy On The Beach" value="a-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'TODD TERJE - Delorean Dynamite');" class="weekend-words words xmas mobile" id="a-tues" name="133250756" title="TODD TERJE - Delorean Dynamite" value="y-tues">N</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'The Maccabees - Spit It Out');" class="weekend-words words xmas mobile" id="y-tues" name="217011809" title="The Maccabees - Spit It Out" value="v-tues">D</p>
		</div>

		<div class="merry row">
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Luke M Hammond - Drift');" class="weekend-words words" id="v-tues" name="230917974" title="Luke M Hammond - Drift" value="i-tues">V</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'on Hopkins - Collider (Pangaea Remix)');" class="weekend-words words" id="i-tues" name="123977241" title="Jon Hopkins - Collider (Pangaea Remix)" value="b-tues">I</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Gengahr - Heroine');" class="weekend-words words" id="b-tues" name="200617730" title="Gengahr - Heroine" value="ee-tues">B</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'BINN WIDSOM - Dehmon One');" class="weekend-words words orangeweekend" id="ee-tues" name="208651502" title="BINN WIDSOM - Dehmon One" value="ss-tues">E</p>
			<p onClick="ga('send', 'event', 'Videos', 'Play', 'Slaves (band) - Cheer Up London');" class="weekend-words words" id="ss-tues" name="200899922" title="Slaves (band) - Cheer Up London" value="t-tues">S</p>
		</div>
	</section>
</section>
<div class="thankyou row">
  <a class="companyLinks" id="green" href="http://www.no-mayo.digital" target="_blank">
    NO MAYO Digital
    <img src="../images/nomayologo.png" class="Logo" id="nomayologo" />
  </a>
	 <p id="and"> &  </p>

  <a class="companyLinks" href="https://soundcloud.com/luke-mahony-hammond" target="_blank" id="juicey">Luke M Hammond
    <img src="../images/luke.png" class="Logo bounce" id="pineapple" />
  </a>
</div>