<section class="weekend fullbackground">
	<div class="marqueeRow row">
	  <marquee id="artist-info"></marquee>
	  <img src="../images/info.png" class="infoButton" id="TEST">
	</div>
	<section class="row">
		<div class="christmas row spacingTop">
			<p class="weekend-words words xmas mobile" id="w-wee" name="235758881">W</p>
			<p class="weekend-words words xmas mobile" id="e1-wee" name="187929420">E</p>
			<p class="weekend-words words xmas mobile" id="e2-wee" name="24895618">E</p>
			<p class="weekend-words words xmas mobile" id="k-wee" name="208738257">K</p>
			<p class="weekend-words words xmas mobile" id="e3-wee" name="208738257">E</p>
			<p class="weekend-words words xmas mobile" id="n-wee" name="208738257">N</p>
			<p class="weekend-words words xmas mobile" id="d-wee" name="208738257">D</p>

		</div>

		<div class="merry row">
			<p class="weekend-words words" id="v-wee" name="233605980">V</p>
			<p class="weekend-words words" id="i-wee" name="225425321">I</p>
			<p class="weekend-words words" id="b-wee" name="226404391">B</p>
			<p class="weekend-words words" id="e4-wee" name="229055409">E</p>
			<p class="weekend-words words" id="s-wee" name="230917974">S</p>
		</div>
	</section>
</section>